.filters {
    width: 15%;
    align-items: center;
    line-height: 2;
    padding: 2em 0em 2em 2em;
    font-family: 'Bellefair';
    font-size: 22px;
}
.map{
    width: 70%;
    border: 1px solid bisque;
}
.filters h4 {
    text-align: center;
    font-size: 50px;
    font-family: 'Satisfy';
}
.search {
    width: 60vw;
    margin: 4px;
    padding: 0px 7px;
    
}
.searchHolder {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}
.options {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 50px;
    border-left: 1px solid #414141;

}
#heading{
    font-family: 'Kalam';
    font-size: 30px;
    color: azure;
}
label {
    padding: 0.5em;
    font-family: 'Quicksand';
    font-size: 1.4em;
}

.textbox {
    width: 80px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
}
.filter{
    padding: 20px 5px 40px 10px;
}
.slider{
    color: #16092e;
    padding: 20px;
    margin: 20px;
}

.cell {
    background-color: rgb(248, 252, 255);
    display: flex;
    flex-direction: row;
    padding: 2em;
    width: 80%;
    border: thin solid black;
    border-radius: 20px 80px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;

}
/* .textContainer {
    font-size: 22px;
    font-family: 'Kalam';
    margin: 30px;
    padding: 20px;
} */

.img {
    width: 95%;
    border: 1px thin rgb(44, 44, 44);
    margin: auto;
}
.button {
    height: 50px;
    width: 50px;
}
#maindiv{
    width: 100%;
    max-width: 100%;
}

