.container {
    padding: 3em;
    display: flex;
    justify-content: space-around;
}
.main {
    width: 85%;
    align-items: center;
    border-right: thin solid rgb(41, 40, 40);
}
.filters {
    width: 15%;
    align-items: center;
    line-height: 2;
    padding: 2em 0em 2em 2em;
    font-family: 'Bellefair';
    font-size: 22px;
}
.filters h4 {
    font-size: 50px;
    font-family: 'Tangerine';
}
.search {
    width: 1000px;
    flex-grow: 1;
    max-width: 1500px;
}
.searchHolder {
    display: flex;
    justify-content: center;
}
.options {
    display: flex;
    flex-direction: column;
}
label {
    padding: 0.5em;
}
.textbox {
    width: 40px;
    height: 30px;
    border-radius: 20%;
}
.locationContainer {
    background-image: url('../../images/LocationBackground.jpg');
    background-size: cover;
}
.cell {
    background-color: rgb(194, 227, 238);

    display: flex;
    flex-direction: row;

    padding: 2em;
    width: 95%;
    border: thin solid black;
    border-radius: 20px 80px 20px;

}
.imgContainer {
    padding-right: 1em;
    min-width: 200px;
    height: 200px;
    width: 100%;
    
}
.textContainer {
    font-size: 22px;
    font-family: 'Bellefair';
}
.textContainer h2 {
    font-size: 60px;
    font-family: 'Tangerine';
}
.img {
    height: 100%;
    width: 100%;
}
.button {
    height: 50px;
    width: 50px;
}


@media (min-width: 1100px) {
    .map {
        position: relative;
        top: 225px;
        left: 0px;
    }
}

@media (max-width: 1100px) {
    .cell {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 10%;
    }
    .map {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .imgContainer {
        height: 300px;
    }
    .slider {
        width: 100%;
        overflow: hidden;
    }
    .search {
        width: 75%;
    }
    .filters {
        font-size: 15px;
    }
    .filters h4 {
        font-size: 40px;
    }
}

@media (max-width: 700px) {
    .imgContainer {
        height: 200px;
    }
    .cell {
        border-radius: 40px;
    }
    .slider {
        width: 175%;
    }
    .filters {
        padding: 1em;
    }
}