@import url("https://fonts.googleapis.com/css?family=Satisfy");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=Courgette");
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");
@import url("https://fonts.googleapis.com/css?family=Kalam");
@import url("https://fonts.googleapis.com/css?family=Laila");
@import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url("https://fonts.googleapis.com/css?family=Bellefair");
@import url("https://fonts.googleapis.com/css?family=Quicksand");

.brand {
  font-size: 4em;
  font-family: "Satisfy";
  padding: 15px;
}
#navbar {
  border-bottom: 2px solid #bdbbbb;
}
.ruler{
  width: 65vw;
  border: 0.1px solid #181e20;
}
.mr-auto {
  text-align: right;
  font-size: 1.5em;
  text-decoration: none;
}
form {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: auto;
  padding-left: auto;
  margin: auto;
  border-radius: 5px;
  font-size: 1.5em;
}
form > input {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}
form > #title {
  padding: 20px;
  margin: 10px;
  width: 70%;
  overflow-wrap:break-word ;
  border: 1px solid black;
  font-family: 'Quicksand';
}
form > #author {
  padding: 10px;
  margin: 20px;
  width: 40%;
  overflow-wrap:break-word ;
  border: 1px solid black;
  font-family: 'Quicksand';
}
form > #post {
  padding: 10px;
}
#Blogs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
form > #title::placeholder {
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  font-family: 'Quicksand';

}
.footerlink{
  font-size: 30px;
  color: whitesmoke;
  font-family: 'Quicksand';

}
.footerlink:hover{
  text-decoration: none;
  font-size: 30px;
  color: whitesmoke;


}
.blogbuttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

form > #author::placeholder {
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  font-family: 'Quicksand';

}

#blogbox{
  text-align: center;
  max-width: 80%;
}

#create{
  width: 70vw;
  height: 70vh;
  padding: 10px;
  border:1.5px solid black;
  font-family: 'Quicksand';

}

#create::placeholder{
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  padding-top: 10px;
  font-family: 'Quicksand';
}

center {
  padding:20px;
}

.App {
  text-align: center;
}
#heading{
  font-family: 'Quicksand';
  font-size: 4em;
  margin: 30px;
}
.cover{
  margin: 20px;
  border: 2px solid black;
  padding: 20px;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content{
  max-width: 60%;
  font-size: 25px;
  font-weight: 200;
  padding: 15px;
  margin: 20px;
  overflow-wrap:break-word ;
}
#head {
  font-size: 40px;
  font-weight: 500;
  font-family: 'Laila' ;
}
#head2{
  font-size: 20px;
  font-weight: 300;
  font-family: 'Laila' ;

}

.link:hover {
  text-decoration: none;
  font-size: 1.6em;
  font-family: "Kalam";
}
.link {
  text-decoration: none;
  font-size: 1.6em;
  font-family: "Kalam";
}

.linkname {
  text-decoration: none;
  color: #f2f2f2;
  padding: 30px;
  font-size: 3.5em;
  font-family: "Dancing Script";
}
.linkname:hover {
  text-decoration: none;
  color: #f2f2f2;
  padding: 30px;
  font-size: 3.5rem;
  font-family: "Dancing Script";
}

#Button {
  border: 1px solid black;
  padding: 10px;
  width: 80%;
}
#contentCreate {
  width: 70vw;
  height: 70vh;
  padding: 10px;
  border: 1.5px solid black;
  font-family: "Quicksand";
}

.bloglinkname1 {
  text-decoration: none;
  padding: 20px;
  font-size: 2.5em;
  color: black;
  font-family: 'Laila';
  text-align: center;
  overflow-wrap:break-word ;
  margin: 8px;

}
.bloglinkname2 {
  text-decoration: none;
  padding: 20px;
  font-size: 1.5em;
  color: rgb(41, 41, 41);
  font-family: 'Kalam';
  margin: 8px;
  text-align: right;
  overflow-wrap:break-word ;
}

.bloglinkname1:hover {
  text-decoration: none;
  padding: 20px;
  font-size: 2.5em;
  color: black;
  font-family: 'Laila';
  text-align: center;
  overflow-wrap:break-word ;
  margin: 8px;
}
.bloglinkname2:hover {
  text-decoration: none;
  padding: 20px;
  font-size: 1.5em;
  color: rgb(41, 41, 41);
  font-family: 'Kalam';
  margin: 8px;
  text-align: right;
  overflow-wrap:break-word ;
}
.carousel {
  width: 100% !important;
  height: 80vh;
  margin: 0 auto;
  background-image: url(./images/fool.jpg);
}

.item {
  padding-top: 50px;
  width: 100%;
}

.item > img {
  border-radius: 10px;
  width: 800px;
  height: 500px;
}

.body3 {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
Link:hover {
  text-decoration: none;
}

.Jumbotron {
  /* padding: 40px; */
  background-image: url(./images/info1.jpg);
}
#display{
  width: 70vw;
  height: 70vh;
  padding: 20px;
  font-size: 20px;
  border: 0.5px solid rgb(236, 236, 236);
  font-family: 'Quicksand';

}

.Jumbotron1 {
  width: 100%;
  padding: 40px;
  background-color: #282c34;
}

.Jumbotron h1 {
  text-align: center;
  padding: 30px;
  font-size: 100px;
  font-weight: 400;
  font-family: "Tangerine";
}

.Jumbotron p {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  font-family: "Bellefair";
  padding: 50px 50px 50px 50px;
}

.Jumbotron1 p {
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  padding: 30px;
  color: #f2f2f2;
  font-family: "Architects Daughter";
}
.rule {
  width: 65vw;
  border: 1px thin rgb(141, 141, 141);
}
.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.expand {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
